<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!DOCTYPE HTML>
<html>
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div >



    <div sec:authorize ="!isAuthenticated()">

        <h4><a href="/login">Войти</a></h4>
        <h4><a href="/registration">Регистрация</a></h4>
    </div>

    <div sec:authorize ="isAuthenticated()" >
        <h4><span sec:authentication="name">Bob</span></h4>
        <h4><a href="/logout">Выйти</a></h4>

        <h4><a href="/LKabinet" >Личный кабинет</a></h4>

    </div>



</div>


<!--<div th:each="index : ${user}" class="...">-->
<!--    <a href="LKabinet.html" th:href="@{'/LKabinet/'+${user.username}}">reterter</a>-->

<!--</div>-->


</body>
</html>