<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Видеопоток</title>
</head>
<body>
<h1>Просмотр видеопотока</h1>
<video controls autoplay width="800" height="600" >
  <source th:src="${videoStreamUrl}" type="video/mp4">
  Ваш браузер не поддерживает видео.
</video>
</body>
</html>
